<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页 - 我的 beego 博客</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">我的博客</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/categroy">分类</a></li>
            <li><a href="/topic">文章</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>我的第一篇博客</h1>
        <h6 class="text-muted">文章发表与2018年 X 月 X 日 XX:XX，共有 100 次浏览，200 个评论</h6>
        <p>
            大家好，这是我的第一篇博客，多谢观看。
        </p>
    </div>
</div>
</body>
</html>